<aside class="aside-col col-md-4 col-lg-3">
	<nav class="aside-navigation">
		<h2 class="aside-navigation-title pattern-bg_orange">Виды лестниц</h2>
		<ul class="aside-menu pattern-bg_blue list-reset">
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Все лестницы</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Деревянные лестницы</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">На металлокаркасе на 1 косоуре</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">На металлокаркасе на 2 косоурах</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Модульные лестницы</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Лестницы для крыльца</a>
			</li>
		</ul>
	</nav>
	<nav class="aside-navigation">
		<h2 class="aside-navigation-title pattern-bg_orange">Типы лестниц</h2>
		<ul class="aside-menu pattern-bg_blue list-reset">
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Прямые</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Поворотные</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Г-образные</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">П-образные</a>
			</li>
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="catalog.html">Лестницы с забежными ступенями</a>
			</li>
		</ul>
	</nav>
	<nav class="aside-navigation">
		<h2 class="aside-navigation-title pattern-bg_orange">Сотрудничество</h2>
		<ul class="aside-menu pattern-bg_blue list-reset">
			<li class="aside-menu_item">
				<a class="aside-menu_link" href="for-dealers.html">Привлекаем дилеров</a>
			</li>
		</ul>
	</nav>
</aside>
