<form class="ask-question-form pattern-bg_blue" action="" method="post">
	<div class="form-header">
		<h2 class="form-title">Остались вопросы?</h2>
		<p class="form-msg">Мы с радостью ответим на все интересующие вопросы и поможем с подбором лестницы</p>
	</div>
	<div class="ask-question-form_inner site-form_inner">
		<div class="ask-question-form_inputs-wrap">
			<label class="ask-question-form_label site-label">
				<input class="ask-question-form_input site-input" type="text" name="name" required>
				<span class="ask-question-form_label-text site-label-text">Ваше имя</span>
			</label>
			<label class="ask-question-form_label site-label">
				<input class="ask-question-form_input site-input" type="tel" name="tel" required>
				<span class="ask-question-form_label-text site-label-text">Ваш телефон</span>
			</label>
			<label class="ask-question-form_label ask-question-form_question-label site-label">
				<textarea class="ask-question-form_textarea site-textarea" name="question"></textarea>
				<span class="ask-question-form_label-text site-label-text">Вопрос</span>
			</label>
		</div>
		<input class="ask-question-form-submit-btn site-btn site-btn_orange" type="submit" value="Отправить">
	</div>
</form>
