<footer class="page-footer pattern-bg_blue">
	<section class="page-footer_main-content content-wrap">
		<div class="page-footer_main-content_inner row">
			<div class="organization-footer-info_wrap col-lg-3 col-md-6 col-sm-12">
				ИП Русских Р.А.<br>
				ИНН  69794933957350<br>
				ОГРН 6979493395<br>
			</div>
			<div class="footer-catalog-sections-menu_wrap col-lg-3 col-md-6 col-sm-12">
				<ul class="footer-catalog-sections-menu footer-menu list-reset">
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="catalog.html">Деревянные лестницы</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="catalog.html">Металлические лестницы</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="catalog.html">Г-образные лестницы</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="catalog.html">П-образные лестницы</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="catalog.html">Поворотные лестницы</a>
					</li>
				</ul>
			</div>
			<div class="footer-main-menu_wrap col-lg-3 col-md-6 col-sm-12">
				<ul class="footer-main-menu footer-menu list-reset">
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="#">О компании</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="#">Производство</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="delivery.html">Доставка и монтаж</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="for-dealers.html">Для дилеров</a>
					</li>
					<li class="footer-menu_item">
						<a class="footer-menu_link" href="contacts.html">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="footer-contacts_wrap col-lg-3 col-md-6 col-sm-12">
				<p class="footer-contacts">
					<span class="footer-contacts_city">г. Ижевск</span>
					<span class="footer-contacts_phone">+7 (999) 999-00-11</span>
				</p>
				<p class="footer-contacts">
					<span class="footer-contacts_city">г. Ижевск</span>
					<span class="footer-contacts_phone">+7 (999) 999-00-11</span>
				</p>
				<a class="footer-mailto-link mailto-link" href="mailto:prelestniza@mail.ru">prelestniza@mail.ru</a>
			</div>
		</div>
	</section>
	<section class="page-footer_footer pattern-bg_gray">
		<div class="content-wrap">
			<div class="page-footer_footer_inner row">
				<div class="footer-policy_wrap footer-bottom-col col-md-3">
					<a class="user-terms_link" href="#">Пользовательское соглашение</a>
					<a class="site-map_link" href="#">Карта сайта</a>
				</div>
				<div class="footer-cities_wrap footer-bottom-col col-md-6">
					Замер и монтаж производится в городах:<br>
					Воткинск, Ижевск, Чайковский, Глазов, Нефтекамск
				</div>
				<div class="footer-contacts-link_wrap footer-bottom-col col-md-3">
					<a class="footer-contacts_link" href="contacts.html">Все контакты</a>
				</div>
			</div>
		</div>
	</section>
</footer>

<a class="to-top-btn" href="#pagetop" title="Наверх"><span class="to-top-text">Наверх</span></a>

<div class="popup_wrap"></div>
<div class="callback-order-form_wrap popup_window">
	<form class="callback-order-form popup-form pattern-bg_blue" action="" method="post">
		<button class="callback-order-form_close-btn close-popup-btn" type="button"><span class="screen-readers-only">Закрыть окно</span></button>
		<h2 class="popup-form_title site-section-title">Заказать звонок</h2>
		<p class="popup-form_msg">Мы с радостью ответим на все интересующие вопросы и поможем с подбором лестницы</p>
		<div class="popup-form_inner">
			<label class="callback-order-form_label site-label site-label_popup">
				<input class="callback-order-form_input site-input" type="text" name="name" required>
				<span class="callback-order-form_label-text site-label-text">Ваше имя</span>
			</label>
			<label class="callback-order-form_label site-label site-label_popup">
				<input class="callback-order-form_input site-input" type="tel" name="tel" required>
				<span class="callback-order-form_label-text site-label-text">Ваш телефон</span>
			</label>
		</div>
		<input class="callback-order-form-submit-btn site-btn site-btn_orange submit-btn_popup" type="submit" value="Отправить">
	</form>
</div>
