<head>
	<meta charset="utf-8">
	<title>Лестницы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/flexslider.min.css">
	<link rel="stylesheet" href="css/priority-nav-core.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
</head>
