<header class="page-header">
	<section class="page-header-content content-wrap">
		<a class="logo-link" href="index.html">
			<img class="logo-img" src="img/logo.png" alt="На главную" title="На главную" width="358" height="92">
		</a>
		<div class="header-company-info">
			<p class="header-phones">
				<span class="header-phones_city">г. Ижевск</span>
				<span class="header-phones_phone">+7 (999) 999-00-11</span>
			</p>
			<p class="header-phones header-phones-second">
				<span class="header-phones_city">г. Воткинск</span>
				<span class="header-phones_phone">+7 (999) 999-00-11</span>
			</p>
			<div class="header-shedule-table_wrap">
				<table class="header-shedule-table">
					<caption class="screen-readers-only">График работы</caption>
					<tbody>
						<tr>
							<th>Пн.-Пт.</th>
							<td>9:00 - 18:00</td>
						</tr>
						<tr>
							<th>Сб.-Вс.</th>
							<td>10:00 - 16:00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="header-contacts">
			<a class="header-callback-order-btn site-btn site-btn_orange" href="#">Заказать звонок</a>
			<a class="header-mailto-link mailto-link" href="mailto:prelestniza@mail.ru">prelestniza@mail.ru</a>
			<a class="header-tel-link" href="tel:+79250641491">+7 (925) 064-14-91</a>
		</div>
	</section>
	<nav class="main-navigation pattern-bg_blue">
		<div class="main-navigation_wrap content-wrap">
			<div class="main-navigation_inner">
				<ul class="main-menu flex menu list-reset">
					<li class="main-menu_item" data-min-width="0">
						<a class="main-menu_link" href="#">О компании</a>
					</li>
					<li class="main-menu_item" data-min-width="0">
						<a class="main-menu_link" href="catalog.html">Каталог</a>
					</li>
					<li class="main-menu_item" data-min-width="0">
						<a class="main-menu_link" href="#">Наше производство</a>
					</li>
					<li class="main-menu_item" data-min-width="0">
						<a class="main-menu_link" href="delivery.html">Доставка/монтаж</a>
					</li>
					<li class="main-menu_item" data-min-width="0">
						<a class="main-menu_link" href="contacts.html">Контакты</a>
					</li>
					<!-- <li class="main-menu_item skukozhing-item">
						<a class="main-menu_link" href="#">Еще ...</a>
						<div class="skukozhing-menu_wrap pattern-bg_blue">
							<ul class="skukozhing-menu list-reset"></ul>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
</header>
